<div>
    <div class="row">
        <div class="col-12">
            <p class="font-weight-bold text-primary">Bienvenidos a Empleate</p>
            <br><br>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="media">
                <%= image_tag('empleo1.png', size: "80x64", alt: "Development", class: 'mr-3')%>
                <div class="media-body">
                    <h5 class="mt-0">Programador Rails</h5>
                    Estamos buscando desarrolladores para trabajar directamente en nuestra área de Plataforma/Producto, construyendo soluciones y productos digitales que impactan a millones de personas.
                </div>
            </div>
        </div>
    </div>
</div>
<hr>