<div>
    <div class="row">
        <div class="col-12">
            <h3 class="font-weight-bold text-primary">Bienvenidos a Empleate</h3>
            <br><br>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="media">
                
                <div>
                    <%= image_tag('nosotros.png', size: "300x200", alt: "Nosotros", class: 'mr-3') %>
                    <h5 class="mt-0">NOSOTROS</h5>
                    Nuestro objetivo es crear espacios que potencien la interacción con las audiencias.
                </div>
                
                <div>
                    <%= image_tag('Productos.png', size: "300x200", alt: "Productos", class: 'mr-3') %>
                    <h5 class="mt-0">PRODUCTOS</h5>
                    Alcance a su audiencia objetivo a través de campañas publicitarias que maximizan el retorno de su inversión.
                </div>

                <div>
                    <%= image_tag('Usuarios.png', size: "300x200", alt: "Usuarios", class: 'mr-3') %>
                    <h5 class="mt-0">USUARIOS</h5>
                    Forma parte de la nueva plataforma de empleos, donde una vacante espera por Tí...
                </div>
            </div>
        </div>
    </div>
</div>
<hr>